<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/Autoload.php" stopOnFailure="true" stopOnError="true" backupGlobals="false" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" cacheDirectory="cache/.phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="apiserver-oauth2">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="LOG_OUTPUT" value="console" force="true"/>
  </php>
</phpunit>